{% extends 'base.html' %}
{% block content %}
{% load static %}
    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="breadcrumb-area">
        <!-- Top Breadcrumb Area -->
        <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url({% static 'sm/img/about-banner.jpeg' %});">
            <h2>WHO WE ARE</h2>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->
    <section class="about-us-area ">
        <div class="container">
            <div class="row">
               
                    <!-- Section Heading -->
                    <div class="section-heading ">
                        <h2 style = >OUR IDEOLOGY</h2>
                        <p>We are consistently working in the betterment of our company.</p>
                    </div>
                    <p>While selecting the raw material, we prefer to use such which passes the FDA Test/ LFGB Test, as it will
                        make sure that products are safe for the pets. We keep the safety of pets in mind while selecting the
                        raw material so that we can assure that our products are safe for the pets. Our company&#39;s priority is
                        human safety, so we take the BSCI Certification for our factory to make sure that the facilities which are
                        provided by us to our team members are able to meet international standard.</p>

                    <p>We offer innovative products for your pets, each reflecting our commitment to excellence. The Pet
                        wares make feeding and providing water to your pet easier to serve them in a better way. We offer a
                        complete range of various products with different colors &amp; pantone shades and variety of customized
                        designs. Our products are manufactured by using stainless steel to ensure longer life span. This is used
                            to serve food to pets and is offered in various sizes.</p>
                    <p>We are on way on consistent improvement with the help of BSCI (Business Social Compliance Initiative)
                        who has designed special programmes to improve working conditions for the suppliers of BSCI’s
                        participating member companies.</p>
                    <p>Taking one more step towards our team betterment we also get certification from SEDEX approved.
                        SEDEX is an innovative and effective supply chain management solution, helping you to reduce risk,
                        protect your company reputation and improve supply chain practices.</p>
                    <!-- Progress Bar Content Area -->
                    
                </div>  
              
            </div>
    </section>            
    <!-- ##### About Area Start ##### -->
    <section class="about-us-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-5">
                    <!-- Section Heading -->
                    <div class="section-heading ">
                        <h2>ABOUT US</h2>
                        <p>In the world of promises , We deliver quality</p>
                    </div>
                    <p>Steel Manic is into the manufacturing of high quality and a diverse range of stainless steel Pet ware, Bar
                        ware and House ware products since 2000. Now, our designs are in the great demand in international
                        market.</p>
                    <p>Our company has an aim to bring distinctive Indian designs of Pet Ware, Bar Ware and Kitchen
                        ware to the international market. Within a very short span of time we have established our credentials
                        as the segment leaders.</p>
                    <p>Steel Manic has maintained its edge as a leading exporter of high quality products. With its high
                        standards of design, quality, and value, “Steel Manic” is the brand of the future. The latest technique,
                        creative and exclusive designs are our expertise and the finest quality products are rapidly growing
                        international clientele.</p>
                    <!-- Progress Bar Content Area -->
                    
                </div>    

                        <!-- Single Progress Bar -->
                    

                <div class="col-12 col-lg-6 ">
                    <div class="alazea-benefits-area">
                        <div class="row">
                            <!-- Single Benefits Area -->
                            <div class="col-12 col-sm-6">
                                <div class="single-benefits-area">
                                    <img src="{% static 'sm/img/quality.png' %}" alt="">
                                    <h5>Quality Products</h5>
                                    <p>In the world of promises , We deliver quality</p>
                                </div>
                            </div>

                            <!-- Single Benefits Area -->
                            <div class="col-12 col-sm-6">
                                <div class="single-benefits-area">
                                    <img src="{% static 'sm/img/delivery.png' %}" alt="">
                                    <h5>Delivery in full and on Time </h5>
                                    <p>We  deliver more than expected :) .</p>
                                </div>
                            </div>

                            <!-- Single Benefits Area -->
                            <div class="col-12 col-sm-6">
                                <div class="single-benefits-area">
                                    <img src="{% static 'sm/img/cost.png' %}" alt="">
                                    <h5>Cost effective prices</h5>
                                    <p>We try our best to give you the best prices.</p>
                                </div>
                            </div>

                            <!-- Single Benefits Area -->
                            <div class="col-12 col-sm-6">
                                <div class="single-benefits-area">
                                    <img src="{% static 'sm/img/perfect.png' %}" alt="">
                                    <h5>Perfect Service</h5>
                                    <p>We try to deliver the perfect service</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="border-line"></div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- ##### Testimonial Area Start ##### -->
    <section class="testimonial-area section-padding-100">
        <div class="container">
            <div class="row ">
                <div class="col-12">
                    <div class="section-heading text-center">
                                            <h2>WE ARE WORKING IN</h2>
                                            <p>We have worked with all these countries</p>
                                        </div>
                    <div class="testimonials-slides owl-carousel">

                        <!-- Single Testimonial Slide -->

                        <div class="single-testimonial-slide">
                            <div class="row align-items-center">
                                <div class="col-12 col-sm-4 col-lg-4">
                                    <div class="testimonial-thumb">
                                        <img src="{% static 'sm/img/europe.png' %}" style="width: 100%; height:100%;" alt="">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4 col-lg-4 single_testimonial_item">
                                    <div class="testimonial-thumb">
                                        <img src="{% static 'sm/img/dubai.jpg' %}" alt="">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4 col-lg-4">
                                    <div class="testimonial-thumb">
                                        <img src="{% static 'sm/img/america.png' %}" alt="">
                                    </div>
                                </div>
                            </div>   
                        </div>

                        <!-- Single Testimonial Slide -->
                         <div class="single-testimonial-slide">
                            <div class="row align-items-center">
                                <div class="col-12 col-sm-4 col-lg-4">
                                    <div class="testimonial-thumb">
                                        <img src="{% static 'sm/img/brazil.png' %}" alt="">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4 col-lg-4 single_testimonial_item">
                                    <div class="testimonial-thumb">
                                        <img src="{% static 'sm/img/argentina.png' %}" alt="">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4 col-lg-4">
                                    <div class="testimonial-thumb">
                                        <img src="{% static 'sm/img/saudi.png' %}" alt="">
                                    </div>
                                </div>
                            </div>   
                        </div>
                        <!-- Single Testimonial Slide -->
                         <div class="single-testimonial-slide">
                            <div class="row align-items-center">
                                <div class="col-12 col-sm-4 col-lg-4">
                                    <div class="testimonial-thumb">
                                        <img src="{% static 'sm/img/singapore.png' %}" alt="">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4 col-lg-4 single_testimonial_item">
                                    <div class="testimonial-thumb">
                                        <img src="{% static 'sm/img/italy.png' %}" alt="">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4 col-lg-4">
                                    <div class="testimonial-thumb">
                                        <img src="{% static 'sm/img/phil.png' %}" alt="">
                                    </div>
                                </div>
                            </div>   
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- ##### Cool Facts Area Start ##### -->
    <section class="cool-facts-area bg-img section-padding-100-0" style="background-image: url(img/bg-img/cool-facts.png);">
        <div class="container">
            <div class="row">

                <!-- Single Cool Facts Area -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-cool-fact d-flex align-items-center justify-content-center mb-100">
                        <div class="cf-icon">
                            <img src="{% static 'sm/img/logo.png'%}" alt="">
                        </div>
                        <div class="cf-content">
                            <h2><span class="counter">500</span>+</h2>
                            <h6>PRODUCTS</h6>
                        </div>
                    </div>
                </div>

                <!-- Single Cool Facts Area -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-cool-fact d-flex align-items-center justify-content-center mb-100">
                        <div class="cf-icon">
                            <img src="{% static 'sm/img/logo.png'%}" alt="">
                        </div>
                        <div class="cf-content">
                            <h2><span class="counter">10</span>+</h2>
                            <h6>COUNTRIES</h6>
                        </div>
                    </div>
                </div>

                <!-- Single Cool Facts Area -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-cool-fact d-flex align-items-center justify-content-center mb-100">
                        <div class="cf-icon">
                            <img src="{% static 'sm/img/logo.png'%}" alt="">
                        </div>
                        <div class="cf-content">
                            <h2><span class="counter">30</span>+</h2>
                            <h6>HAPPY CLIENTS</h6>
                        </div>
                    </div>
                </div>

                <!-- Single Cool Facts Area -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-cool-fact d-flex align-items-center justify-content-center mb-100">
                        <div class="cf-icon">
                            <img src="{% static 'sm/img/logo.png'%}" alt="">
                        </div>
                        <div class="cf-content">
                            <h2><span class="counter">20</span>+</h2>
                            <h6>EXPERIENCE (YRS) </h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Side Image -->
        <div class="side-img wow fadeInUp" data-wow-delay="500ms">
            <img src="img/core-img/pot.png" alt="">
        </div>
    </section>
    <!-- ##### Cool Facts Area End ##### -->

    

  
{% endblock %}