{% extends 'base.html' %}
{% block content %}
{% load static %}
    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="breadcrumb-area">
        <!-- Top Breadcrumb Area -->
        <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url({% static 'sm/img/cart-banner.jpg' %});">
            <h2>Cart</h2>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Cart</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Cart Area Start ##### -->
    <div class="cart-area section-padding-0-100 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cart-table clearfix">
                        <table class="table table-responsive" >
                            <thead>
                                <tr>
                                    <th>Product ID</th>
                                    <th>Product Name </th>
                                    <th>Category</th>
                                    
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="items">
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Coupon Discount -->
                
                <!-- Cart Totals -->
                <div class="col-12 col-lg-6">
                    <div class="cart-totals-area mt-70">
                       
                        <div class="checkout-btn">
                            <a href="/contact/" class="btn alazea-btn w-100">Proceed to fill contact form</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- ##### Cart Area End ##### -->
{% endblock %}
{% block js %}
    <script>
        
        if ($.isEmptyObject(cart)){
            mystr= ` <td class="cart_product_img" >
                       
                       <h5>Your cart is empty </h5>
                    </td>               
                 ` 
            $('#items').append(mystr);
        }
        else{
        for(item in cart){
            let name = cart[item][0]
            let category= cart[item][1]
            
            myid = ` 
                        <tr data-id=${item}>
                        <a href="/products/"><td id="id">${item}</td></a>
                        <td id="products">${name}         </td>
                        <td id="category">${category}</td> 
                        <a href = "#" > <td class="icon_close del "></td></a>
                        </tr> `
                        
            myname= ` 
                        ${name}
                  `
            mycategory= ` ${category}`
            $('#items').append(myid);
            // $('#products').append(myname);
            // $('#category').append(mycategory);

           
           
        }
       
        }
        $('.del').click(function delItem(){
                
                console.log(cart)
                var idname = $(this).parent().attr('data-id').toString();
                delete cart[idname]
                localStorage.setItem('cart', JSON.stringify(cart));
                location.reload(true)
                
            });localStorage.setItem('cart', JSON.stringify(cart));
    </script>
{% endblock %}