{% extends "base.html" %}
{% block content %}
{% load static %}
    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="breadcrumb-area">
        <!-- Top Breadcrumb Area -->
        <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url({% static 'sm/img/contact-success.jpg' %});">
            <h2>THANK YOU FOR CHOOSING STEEL MANIC</h2>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
                            
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>


    <div class="cart-area section-padding-0-100 clearfix">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="cart-table clearfix">
                      <h2>Your Query Has been Placed . We will contact you shortly</h2>
                      <br><br>
                      
                  </div>
                  
              </div>
          </div>
        </div>
    </div>
    
{% endblock %}
{% block js %}
<script>
 localStorage.clear();
</script>

{% endblock %}
